*{
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    
}
#test{
    font-size: 5VH;
}
@media screen and (max-width: 578px){   .col-xs-1 {       flex: 0 0 auto;       width: 8.33333333%;   }   .col-xs-2 {       flex: 0 0 auto;       width: 16.66666667%;   }   .col-xs-3 {       flex: 0 0 auto;       width: 25%;   }   .col-xs-4 {       flex: 0 0 auto;       width: 33.33333333%;   }   .col-xs-5 {       flex: 0 0 auto;       width: 41.66666667%;   }   .col-xs-6 {       flex: 0 0 auto;       width: 50%;   }   .col-xs-7{       flex: 0 0 auto;       width: 58.33333333%;   }   .col-xs-8 {       flex: 0 0 auto;       width: 66.66666667%;   }   .col-xs-9 {       flex: 0 0 auto;       width: 75%;   }   .col-xs-10 {       flex: 0 0 auto;       width: 83.33333333%;   }   .col-xs-11 {       flex: 0 0 auto;       width: 91.66666667%;   }   .col-xs-12 {       flex: 0 0 auto;       width: 100%;   } }

.test{
    color: lightskyblue;
}