body {
    display: grid;
    background-color: #ecf0f3;
    margin: 0;
    padding: 0;
}

header {
    display: grid;
    grid-template-columns: 1fr auto 1fr ;
    background-color: #fff;
}

#imgHeader {
    margin-left: 5vw;
    margin-bottom: -50px;
}

#menuHeader {
    display: grid;
    grid-template-columns: repeat(8, auto);
    padding: 40px;
    justify-items: center;
}

#menuHeader a {
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: #273653;
    margin-right: 15px;
}

button {
    display: grid;
    padding: 11px 28px;
    gap: 8px;
    border-radius: 13px;
    border: 1px solid #1466A6;
    background: #FFF;
}

button:hover {
    background-color: #1466A6;
}

main {
    display: grid;
    gap: 20px;
}

h1 {
    text-align: center;
    margin-top: 100px;
}

h2 {
    color: #111A2E;
    text-align: center;
    font-family: Urbanist;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.72px;
}

.infoBloc {
    display: grid;
    grid-template-rows: auto 1fr;
    padding: 62px 20px 48px;
    border-radius: 10px;
    background: #F5F7F8;
    width: 341px;
}

p#descriptionTitre, .infoBloc p {
    text-align: center;
}

p#descriptionTitre {
    margin: 10px 10vw;
    color: #273653;
}

.infoBloc p {
    margin: 10px;
    color: #6F737B;
}

#gridInfoBloc { 
    display: grid;
    width: 90%;
    margin: auto auto;
    grid-template: auto auto / repeat(3, auto) ;
    gap: 4vw;
    justify-content: center;
}

svg {
    position: absolute;
    top: 10px;
    border: solid white 20px;
    border-radius: 50%;
}

.infoBloc {
    position: relative;

}

.infoBloc svg {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
}

section .infoBloc {
    width: 100%;
    flex-shrink: 0;
    background: #F5F7F8;
    display: grid;
    grid-template-rows: auto 1fr;
    border-radius: 10px;
    padding: 20px;
}

section .infoBloc p {
    color: #111A2E;
    text-align: center;
    font-family: Urbanist;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.72px;
}

#videoExpli {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center; 
    width: 341px;
    height: 49px;
    border-radius: 15px;
    background: #FFF;
}

#videoExpli p {
    margin: 0;
}

#videoExpli:hover {
    background-color: #1466A6;
    color: #F5F7F8;
}

/* Contenu de Selim*/

.container{
    display: grid;
    grid-template-columns: 1fr 1103px 1fr;
    grid-template-rows: auto;
}

#sct1,
#sct2,
#sct3,
#sct4 {
    display: flex;
    justify-content: space-evenly;
    gap: 166px;
    flex-shrink: 0; 
    text-align: left;
}

.text-container h2{
    color: #273653;
    font-family: Urbanist;
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    line-height: 50.6px;
    text-align: left;
}

.text-container p{
    color: var(--TEXTE, #273653);
    font-family: "DM Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
}

.rtgls{
    border-radius: 41px;
    background: var(--d-9-d-9-d-9, #1466A6);
    width: 394px;
    height: 398px;
    flex-shrink: 0;
    z-index: 0;
    background-color: bisque;
    position: absolute;
}

.imgs{
    display: flex;
    z-index: 1;
    width: 420px;
    height: 424px;
    flex-shrink: 0;
    border-radius: 41px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat, #D9D9D9;
    position: relative;
}

.image-container,
.text-container{
    position: relative;
    flex: 1;
    margin-bottom: 125px;
}

#img1{
   top: 118px;;
}

#rtgl1{
    right: 0;
    top: 30%;

}

#img2{
    left: 37px;
}

#rtgl2{
    left: 0;
    top: 63px;
}

#rtgl3{
    right: 0;
    top: 63px;
}



footer{
    width: 100%;
    height: 138px;
    flex-shrink: 0;
    background: #FFF;
}

#foot{
    display: grid;
    grid-template-columns: 1fr auto 1fr ;
}

#imgFoot {
    margin-left: 5vw;
    height: 150px;
}

#foot p {
    text-align: center;
}

.test{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
}

.btn button{
    width: 205px;
    height: 53px;
    border-radius: 8px;
    background: var(--Button, #571C7B);
    text-decoration: none;
    color: #fff;
    margin-bottom: 80%;
}

#sct4{
    justify-content: center;
}

.btn button:hover{
    background-color: #1466A6;
}

nav {
    flex: 1;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: inline-block;
    margin-right: 10px;
}

a {

    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;}