*{
    font-family: 'Fredoka', sans-serif;
    padding-left: 2%;
    padding-right: 2%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../images/vecteezy_texture-de-fond-abstrait-moderne-blanc-et-gris-papercut_6050442.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 10vh;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 5%;
    padding-top: 5vh;
}

.custom-toggler-icon {
    font-size: 10.5rem; 
}

header{
    background-color: white;
    position: fixed;
    text-align: center;
    z-index: 10;
}

.sct0{
    display: flex;
}

#logo{
    height: 40vh;
    justify-content: left;
}

#hd1{
width: 20%;
}

#hd2{
    position:fixed;
}

.txtnav:hover{
color: rgb(0, 13, 255);
font-size: 220%;
}

.txtnav{
    font-size: 180%;
    color: #000000;
}

#navbar1{
    height: 40%;
}

#photoselim{
    width: 100%;
    height: auto;
    margin-bottom: 10%;
    border-radius: 110px;
}

#txt{
    max-width: 100%;
}

p{
    font-size: 20px;
}

.sct1{
    height: 100%;
}

#pres{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-gap: 40px;
}


#imgs{
    display:grid;
}

.images{
    max-width: 100%;
    display: grid;
    border-radius: 110px;
}

footer{
    background-color: rgba(178, 177, 177, 0.482);
    height: 21vh;;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 100%;
    font-size: 200%;
}

#logofoot{
    height: 20vh
}

.txtfoot{
    font-size: 100%;
    text-align: center;
    color: #000000;
    transition: transform 0.1s ease-in;
}

.txtfoot:hover{
    color: rgb(0, 13, 255);
    transform: scale(1.1)
}

.br1{
    border-radius: 110px;
}

.img1{
    height: 70%;
    width: 100%;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.img1:hover{
    transform: scale(1.1);
}

.imgs{display: grid;
    grid-template-columns: 1fr 60px 1fr;
    grid-row: auto;
    max-width: 100%;
    height: 80vh;
    transition: font-size 0.3s ease;
}

#sctc{
    display: flex;
    align-items: center;
    
}

@media screen and (max-width:998px) {
#pres{
    grid-template-columns:  1fr;
    }

.imgs{
    grid-template-columns:  1fr;
    height: 100%;
    }
    
.img1{
    height: 80%;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 120%;
}

#logofoot{
    margin: auto;
}

.images{
    width: 100%;
}

#logo{
    height: 20vh;
}

#sctc{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.txtfoot{
    width: 100%;
}
}